@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

body { padding-top: 70px; }

.form-check .form-check-label {font-weight: normal;}

input.has-error {border-color: maroon}

.alert.result { margin-top: 10px; }